html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-style: normal;
	@include font ();
	font-family: $font-main;
	color: $color-text;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 30px;
}

.wrapper_theme_dark {
	background-color: $color-dark-add;
	color: $color-light;

	a {
		color: $color-light;
		transition: $transition;

		&:hover {
			color: $color-linknav-activ;
		}
	}
}

.title {
	margin: 0;
	@include font(400, 4.8rem, 5.8rem);
}

.subtitle {
	margin: 0;
	@include font(400, 2.4rem, 2.9rem);
}

p {
	margin: 0;
}