.welcome__ellipse {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: "Roboto", Verdana, sans-serif;
  color: #333B41;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  margin: -1px;
}

.wrapper_theme_dark {
  background-color: #111115;
  color: #FFFFFF;
}
.wrapper_theme_dark a {
  color: #FFFFFF;
  transition: all 0.3s ease-out;
}
.wrapper_theme_dark a:hover {
  color: #F9804B;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.8rem;
}

.h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

p {
  margin: 0;
}

.text_small {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  text-decoration: none;
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

/*@import './components/columns';*/
.logo {
  width: 82px;
  margin-right: 63px;
}

/*@import './components/navigation';*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 54px;
  font-weight: normal;
  font-size: 500;
  line-height: 2.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 25px;
  background: #F9804B;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-color: #E47209;
}
.button:active {
  background-color: #4B9200;
}

.button-ellipse {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 0;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50%;
}

/*@import './components/slider';
@import './components/article';
@import './components/player';
@import './components/form';
@import './components/parallax';
@import './components/social';*/
.header {
  display: flex;
  position: relative;
  z-index: 1;
  height: 80px;
}

.header__columns,
.header__navigation,
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__columns {
  flex: 1;
  justify-content: flex-start;
}

.navigation__item {
  margin-right: 58px;
}

.header__navigation {
  flex: 1;
}

.welcome {
  padding: 86px 0 100px 0;
  background-image: url(/src/img/header/Giant_Panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}
@media (max-width: 1000px) {
  .welcome {
    padding: 43px 0 47px 0;
    background-size: 118% auto;
    background-position: 57% 100%;
  }
}

.welcome__content {
  position: relative;
  max-width: 500px;
  margin-left: auto;
}
@media (max-width: 1000px) {
  .welcome__content {
    max-width: 400px;
    margin-right: 55px;
  }
}

.welcome__ellipse {
  position: absolute;
  top: -74px;
  left: -73px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .welcome__ellipse {
    top: -54px;
    left: -58px;
    width: 367px;
    height: 367px;
  }
}

.welcome__title {
  position: relative;
  margin: 0 0 60px auto;
  font-weight: 700;
  font-size: 10.6rem;
  line-height: 8rem;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.welcome__title span {
  color: #FFEE2E;
}
@media (max-width: 1000px) {
  .welcome__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 8.5rem;
    line-height: 6.4rem;
  }
}

.welcome__button {
  margin: 0 100px 0 auto;
}

.about-us {
  position: relative;
  padding: 140px 0 180px 0;
}
@media (max-width: 1000px) {
  .about-us {
    padding: 100px 0 145px 0;
  }
}

.about-us__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__image {
  flex: 609px;
  order: -1;
  height: 403px;
  margin-right: 87px;
  background-image: url(/src/img/about_us/bamboo-cap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
@media (max-width: 1000px) {
  .about-us__image {
    flex: 1 0 455px;
    height: 408px;
    margin-right: 31px;
  }
}

.about-us__content {
  flex: 465px;
  background-color: #FFFFFF;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__subtitle {
  margin-bottom: 34px;
}

.about-us__text:first-of-type {
  margin-bottom: 54px;
  line-height: 21px;
}

.about-us__image-fon {
  position: absolute;
  top: 7px;
  right: 0;
  z-index: -1;
  width: 204px;
  height: 605px;
  background-image: url(/src/img/backgrounds/flower_foto1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1000px) {
  .about-us__image-fon {
    display: none;
  }
}

.catalog {
  position: relative;
  padding-bottom: 100px;
}

.catalog__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin-bottom: 80px;
}

.catalog__card-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
  width: 366px;
  outline: 1px solid #FA6F32;
  border-radius: 5px;
  overflow: hidden;
}

.catalog__card-columns {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 28px);
  margin: 8px 12px 13px 16px;
}

.catalog__card-inner {
  color: #000000;
}

.catalog__card-title {
  margin: 0;
  text-transform: uppercase;
}

.catalog__card-icon-inner {
  width: 48px;
  height: 38px;
  text-align: right;
}

.catalog__card-image-inner {
  width: 366px;
  height: 366px;
}

.catalog__wrapper {
  position: relative;
}

.catalog__button-wrap {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 435px;
  width: 100%;
}

.catalog__button_left {
  position: absolute;
  left: -82px;
  background-image: url(/src/img/icons/left.svg);
}

.catalog__button_right {
  position: absolute;
  right: -20px;
  background-image: url(/src/img/icons/right.svg);
}

.catalog__button-link {
  margin: 0 auto;
}

.catalog__decor {
  position: absolute;
  bottom: 0;
  left: 0;
}

.catalog__decor_left {
  width: 292px;
  height: 460px;
  background-image: url(/src/img/backgrounds/palm_foto.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog__decor_right {
  right: 0;
  left: auto;
  width: 368px;
  height: 275px;
  background-image: url(/src/img/backgrounds/strelitzia.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*@import './layouts/explore';
@import './layouts/video';
@import './layouts/gallery';
@import './layouts/tickets';
@import './layouts/contacts';
@import './layouts/footer';
@import './layouts/booking';*/

/*# sourceMappingURL=style.css.map */
