$font-main: 'Roboto', Verdana, sans-serif;

$color-light: #FFFFFF;
$color-dark: #000000;
$color-dark-add: #111115;
$color-yellow: #FFEE2E;
$color-text: #333B41;
$color-text-small: #767474;
$color-text-email: #BDBDBD;
$color-text-color: #FE9013;
$color-orange: #F9804B;
$color-linknav-activ: #F9804B;
$color-link-activ: #4B9200;
$color-button: #FE9013;
$color-button-hover: #E47209;
$color-button-activ: #4B9200;
$color-button-disabled: #767474;
$color-icon: #000000;
$color-icon-add: #333B41;
$color-icon-activ: #4B9200;
$color-social: rgba(196, 196, 196, 0.5);
$color-fon-add: rgba(253, 253, 255, 0.52);
$color-fon-dark: rgba(0, 0, 0, 0.9);
$color-feedback-fon: #F1F3F2;
$color-feedback-header: #BDBDBD;
$color-line-scrol: #F9804B;
$color-line-scrol-add: #F5F7F6;
$color-input-border: #F9804B;
$color-input-fon: #333B41;
$color-form-activ: #4B9200;
$color-form-mistake: #D31414;
$color-form-border: #333B41;
$color-form-fonadd: #F1F3F2;
$color-border: #FA6F32;
$color-border-add: #929699;
$color-progress-bar: #404950;
$color-progress-bar-add: #72828E;

$content-width: calc(1160px + 60px);
$content-1420: 1420px;
$laptop-width: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;

$transition: all .3s ease-out;