@mixin font ($style: normal, $weight: 400, $size: 1.6rem, $height: 2.2rem) {
	font-style: $style;
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
}

@mixin columns ($display: flex, $jus-c: space-between, $al-i: center) {
	display: $display;
	justify-content: $jus-c;
	align-items: $al-i;
}