.button {
	@include columns(flex, center);
	width: 298px;
	height: 54px;
	@include font(500);
	color: $color-light;
	text-transform: uppercase;
	border-radius: 25px;
	@extend %color-ellipse;
	transition: $transition;

	&:hover {
		background-color: $color-button-hover;
	}

	&:active {
		background-color: $color-button-activ;
	}
}

.button-ellipse {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 0;
	@include bg(url(), no-repeat, 40%);
	background-position: 50%;
}