.feedback {
	width: 268px;
	height: 391px;
	margin: 0;
	padding: 15px 15px 19px 16px;

	@include media-laptop {
		width: 293px;
	}
}

.feedback__header {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 10px;
}

.feedback__foto-wrap {
	width: 37px;
	height: 37px;
}

.feedback__wrap {
	margin-bottom: 10px;
}

.feedback__name {
	line-height: 19px;
}

.feedback__country-date {
	color: $color-feedback-header
}

.feedback__text-wrap {
	height: 308px;
	overflow: hidden;
}