.progress-bar {
	position: relative;
	@include columns(flex, center);
	height: 27px;
	background-color: $color-progress-bar;

	@include media-mobile {
		height: 13px;
	}
}

.circle-list {
	@include columns;
	position: absolute;
	width: calc(100% - 52px);
	height: 100%;
	margin: 0;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: $color-progress-bar-add;

		@include media-tablet {
			width: calc(100% - 70px);
		}

		@include media-mobile {
			width: calc(100% - 34px);
			height: 1px;
		}
	}

	@include media-laptop {
		width: calc(100% - 22px);
	}

	@include media-tablet {
		padding: 0 35px;
	}

	@include media-mobile {
		width: 100%;
		padding: 0 17px;
	}
}

.circle {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: $color-yellow;
	border-radius: 50%;

	&::before {
		content: '';
		position: absolute;
		top: -50%;
		left: -50%;
		width: 20px;
		height: 20px;
		cursor: pointer;

		@include media-mobile {
			top: calc(-100% - 2.5px);
			left: calc(-100% - 2.5px);
		}
	}

	&:first-of-type {
		@include media-laptop {
			display: none;
		}
	}

	@include media-tablet {
		&:nth-child(-n+3) {
			display: none;
		}
	}

	@include media-mobile {
		width: 5px;
		height: 5px;
	}
}

.circle_activ {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: -15px;
		left: -15px;
		width: 40px;
		height: 40px;
		outline: 2px solid $color-button;
		border-radius: 50%;
	}

	&::after {
		top: -6.5px;
		left: -6.5px;
		width: 23px;
		height: 23px;

	}
}

.circle__number {
	position: absolute;
	top: 25px;
	left: -25px;
	padding-left: 12px;
	@include font(500, 2.6rem, 3.6rem);
	@include bg(url(../../src/img/icons/dollar.svg), no-repeat, auto);
	background-position: 0 9px;

	@include media-laptop {
		left: -11px;
	}

	@include media-tablet {
		left: -20px;
	}

	@include media-mobile {
		top: 12px;
		left: -10px;
		padding-left: 6px;
		@include font(500, 1.3rem, 1.8rem);
		background-size: 5px;
		background-position: 0px 5px;
	}
}

.circle__number-activ {
	filter: invert(67%) sepia(14%) saturate(7289%) hue-rotate(350deg) brightness(145%) contrast(100%);
}