.catalog {
	position: relative;
	padding-bottom: 100px;

	@include media-laptop {
		padding-bottom: 140px;
	}
}

.catalog__columns {
	@include columns(flex, space-evenly);
	flex-wrap: wrap;
	align-items: stretch;
	gap: 20px 30px;
	margin-bottom: 80px;

	@include media-1420 {
		gap: 92px 29px;
	}

	@include media-laptop {
		margin-bottom: 77px;
	}
}

.catalog__wrapper {
	position: relative;
}

.catalog__button-wrap {
	@include columns(inline-flex);
	position: absolute;
	top: calc(50% - 98px);
	width: 100%;

	@include media-1420 {
		@include columns(inline-flex, center);
		width: calc(100% - 62px);
	}
}

.catalog__button_left {
	position: relative;
	left: -82px;
	background-image: url(../../src/img/icons/left.svg);

	@include media-1420 {
		left: 0;
		margin-right: 20%;
	}
}

.catalog__button_right {
	position: relative;
	right: -20px;
	background-image: url(../../src/img/icons/right.svg);

	@include media-1420 {
		right: 0;
	}
}

.catalog__button-link {
	margin: 0 auto;
}

.catalog__decor_left {
	bottom: 0;
	left: 0;
	width: 292px;
	height: 460px;
	background-image: url(../../src/img/backgrounds/palm_foto.png);
	background-position: 100% 0;

	@include media-laptop {
		width: 194px;
		height: 202px;
	}
}

.catalog__decor_right {
	bottom: 0;
	right: 0;
	left: auto;
	width: 368px;
	height: 275px;
	background-image: url(../../src/img/backgrounds/strelitzia.png);

	@include media-laptop {
		width: 241px;
		height: 180px;
	}
}