.donate {
	padding: 69px 0 100px;
	background-color: $color-social;
	@extend %color-fon;

	@include media-laptop {
		padding: 30px 0 50px;
	}

	@include media-tablet {
		padding: 20px 0 20px;
	}

	@include media-mobile {
		padding: 20px 10px;
	}
}

.donate__container {
	@include media-tablet {
		padding: 0;
	}
}

.donate-page {
	padding: 40px 0 180px;

	@include media-laptop {
		padding: 40px 0 30px;
	}
}

.donate__wrapper {
	padding: 41px 99px 59px;
	background: $color-fon-add;
	border-radius: 20px;

	@include media-laptop {
		max-width: 940px;
		padding: 30px 48px 50px;
	}

	@include media-tablet {
		padding: 10px 20px 60px;
	}

	@include media-mobile {
		padding: 20px 0 40px;
	}
}

.donate__title {
	margin-bottom: 30px;
	text-align: center;

	@include media-laptop {
		margin-bottom: 20px;
	}

	@include media-tablet {
		@include font(400, 4.2rem, 5rem);
	}

	@include media-mobile {
		margin-bottom: 10px;
		@include font(400, 2.4rem, 2.9rem);
	}
}

.donate__subtitle {
	margin-bottom: 40px;

	@include media-laptop {
		margin-bottom: 20px;
	}

	@include media-tablet {
		@include font(400, 2.2rem, 2.6rem);
	}

	@include media-mobile {
		@include font(400, 1.8rem, 2.2rem);
		text-align: center;
	}
}

.donate__text_bold {
	@include font(500);
	margin-bottom: 10px;
}

.donate__text {
	&:last-of-type {
		margin-bottom: 60px;

		@include media-laptop {
			margin-bottom: 40px;
		}

		@include media-tablet {
			margin-bottom: 30px;
		}
	}

	@include media-mobile {
		display: none;
	}
}

.donate__h3 {
	margin-bottom: 40px;
	text-align: center;

	@include media-tablet {
		margin-bottom: 20px;
	}

	@include media-mobile {
		@include font(400, 2.4rem, 2.9rem);
	}
}

.donate__columns {
	@include columns(flex, space-between, flex-start);
	max-width: 764px;
	margin: auto;
	margin-bottom: 60px;

	@include media-laptop {
		margin-bottom: 70px;
	}

	@include media-tablet {
		position: relative;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	@include media-mobile {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}
}

.donate__content {
	position: relative;
	@include columns;
	flex-direction: column-reverse;
	align-items: flex-start;
	flex-basis: 168px;

	@include media-mobile {
		width: 168px;
		margin-bottom: 30px;
	}
}

.donate__content-text {
	height: 44px;
	overflow: hidden;
}

.donate__image {
	width: 100%;
	height: 168px;
	margin-bottom: 30px;
	border: 1px solid $color-button;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: $color-light;

	@include media-mobile {
		margin-bottom: 10px;
	}
}

.donate__image-one {
	background-image: url(../../src/img/icons/pay.svg);
}

.donate__image-two {
	background-image: url(../../src/img/icons/payment.svg);
}

.donate__image-three {
	background-image: url(../../src/img/icons/monkey.svg);
}

.donate__icon {
	position: absolute;
	top: 57px;
	right: -100px;
	width: 69px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../../src/img/icons/next.svg);

	@include media-tablet {
		top: -16px;
		right: -65px;
		z-index: 1;
		width: 89px;
		height: 29px;
		background-image: url(../../src/img/icons/next_color.svg);
	}

	@include media-mobile {
		bottom: -3px;
		top: auto;
		right: -60px;
		transform: rotate(83deg);
	}
}

.donate__button_link {
	margin: 0 auto;
}

.donate-page__h3 {
	margin-bottom: 10px;

	@include media-laptop {
		margin-bottom: 30px;
	}
}

.donate-page__text {
	@include font (500);

	&:last-of-type {
		margin-bottom: 40px;
	}
}

.donate-page__wrap {
	padding: 40px 92px 62px;
	margin-top: 30px;
	text-align: center;

	@include media-laptop {
		padding: 20px 25px 46px;
		margin-top: 40px;
	}
}

.donate-page__h2 {
	margin-bottom: 20px;

	@include media-laptop {
		margin-bottom: 10px;
	}
}

.donate-page__subtitle {
	margin-bottom: 60px;
}

.donate__diet {
	margin-bottom: 48px;
	@include columns(flex, center);
}

.donate__numder-wrap {
	margin-top: 50px;
}

.donate__numder {
	@include font(500, 7.2rem, 5.8rem);
	color: $color-dark;
	margin-bottom: 11px;
}

.donate__diet-symbol {
	margin-right: 64px;
	margin-top: 20px;
	font-size: 1.7rem;
}

.donate__diet-icon-wrap {
	width: 284px;
	height: 246px;
}

.donate__amount-wrap {
	text-align: left;
	margin-bottom: 60px;
}

.donate__amount-text {
	margin-bottom: 17px;
}

.donate__progress-bar {
	margin-bottom: 108px;
}

.donate__input-wrap {
	@include columns;
	flex-direction: column;
}

.donate__input-inner {
	position: relative;
	align-self: flex-start;
	margin-bottom: 6px;
}

.donate__input {
	width: 268px;
	height: 54px;
	padding: 16px 9px;
	outline: 1px solid $color-border-add;
	border: none;
	border-radius: 2px;
	background-color: transparent;

	&:focus {
		outline-color: $color-form-activ;
	}
}

.donate__input-dollar {
	position: absolute;
	bottom: calc(50% - 10px);
	right: 10px;
	width: 10px;
	height: 20px;
	@include bg(url(../../src/img/icons/dollar.svg));
	filter: invert(64%) sepia(8%) saturate(155%) hue-rotate(163deg) brightness(100%) contrast(90%);
}

.donate__radio-wrap {
	margin-bottom: 39px;
}

.donate__label {
	position: relative;
	margin-right: 50px;
	padding-left: 26px;

	&:last-of-type {
		margin-right: 0;
	}
}

.donate__radio {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;

	&:checked+.radio-design {
		outline-color: $color-form-activ;
		background-color: $color-form-activ;
	}
}

.radio-design {
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	outline: 1px solid $color-button;
	border-radius: 50%;
}

.donate-page__button_link {
	margin-bottom: 30px;
}