.header {
	display: flex;
	position: relative;
	z-index: 1;
	height: 80px;
}

.logo {
	margin-right: 63px;
}

.header__columns,
.header__navigation,
.navigation {
	@include columns();
}

.header__columns {
	flex: 1;
	justify-content: flex-start;
}

.navigation__item {
	margin-right: 58px;
}

.header__navigation {
	flex: 1;
}