.welcome {
	padding: 86px 0 100px 0;
	@include bg(url(/src/img/header/Giant_Panda.jpg));
	background-position: 0 100%;

	@include media-laptop {
		padding: 43px 0 47px 0;
		background-size: 118% auto;
		background-position: 57% 100%;
	}
}

.welcome__content {
	position: relative;
	max-width: 500px;
	margin-left: auto;

	@include media-laptop {
		max-width: 400px;
		margin-right: 55px;
	}
}

.welcome__ellipse {
	position: absolute;
	top: -74px;
	left: -73px;
	width: 465px;
	height: 465px;
	@extend %color-ellipse;
	border-radius: 50%;

	@include media-laptop {
		top: -54px;
		left: -58px;
		width: 367px;
		height: 367px;
	}
}

.welcome__title {
	position: relative;
	margin: 0 0 60px auto;
	@include font (700, 10.6rem, 8rem);
	text-transform: uppercase;
	text-align: center;
	color: $color-light;

	span {
		color: $color-yellow;
	}

	@include media-laptop {
		margin-bottom: 40px;
		@include font (700, 8.5rem, 6.4rem);
	}
}

.welcome__button {
	margin: 0 100px 0 auto;
}